<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.1.dtd">
<suite name="LumaFashionReportingSuite">
  <test thread-count="5" name="TestLumaFashion">
    <classes>
      <class name="com.test.exec.LumaFashion"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
